<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>list</key>
		<array>
			<string>zero</string>
			<string>one</string>
			<string>two</string>
			<string>three</string>
			<string>four</string>
			<string>five</string>
			<string>six</string>
			<string>seven</string>
			<string>eight</string>
			<string>nine</string>
			<string>space</string>
			<string>nbspace</string>
			<string>period</string>
			<string>colon</string>
			<string>ellipsis</string>
			<string>exclam</string>
			<string>asterisk</string>
			<string>numbersign</string>
			<string>slash</string>
			<string>backslash</string>
			<string>hyphen</string>
			<string>parenleft</string>
			<string>parenright</string>
			<string>braceleft</string>
			<string>braceright</string>
			<string>bracketleft</string>
			<string>bracketright</string>
			<string>quotedblleft</string>
			<string>quotedblright</string>
			<string>quoteleft</string>
			<string>quoteright</string>
			<string>guillemetleft</string>
			<string>guillemetright</string>
			<string>quotedbl</string>
			<string>quotesingle</string>
			<string>bar</string>
			<string>plus</string>
			<string>multiply</string>
			<string>divide</string>
			<string>equal</string>
			<string>greater</string>
			<string>less</string>
			<string>percent</string>
			<string>dieresiscomb</string>
			<string>gravecomb</string>
			<string>acutecomb</string>
			<string>hungarumlautcomb</string>
			<string>macroncomb</string>
			<string>dotaccent</string>
			<string>degree</string>
			<string>A</string>
			<string>Aacute</string>
			<string>Abreve</string>
			<string>Acircumflex</string>
			<string>Adieresis</string>
			<string>Agrave</string>
			<string>Amacron</string>
			<string>Aogonek</string>
			<string>Aring</string>
			<string>Atilde</string>
			<string>AE</string>
			<string>B</string>
			<string>C</string>
			<string>Cacute</string>
			<string>Ccaron</string>
			<string>Ccedilla</string>
			<string>Cdotaccent</string>
			<string>D</string>
			<string>Eth</string>
			<string>Dcaron</string>
			<string>Dcroat</string>
			<string>E</string>
			<string>Eacute</string>
			<string>Ecaron</string>
			<string>Ecircumflex</string>
			<string>Edieresis</string>
			<string>Edotaccent</string>
			<string>Egrave</string>
			<string>Emacron</string>
			<string>Eogonek</string>
			<string>F</string>
			<string>G</string>
			<string>Gbreve</string>
			<string>Gcommaaccent</string>
			<string>Gdotaccent</string>
			<string>H</string>
			<string>Hbar</string>
			<string>I</string>
			<string>IJ</string>
			<string>Iacute</string>
			<string>Icircumflex</string>
			<string>Idieresis</string>
			<string>Idotaccent</string>
			<string>Igrave</string>
			<string>Imacron</string>
			<string>Iogonek</string>
			<string>J</string>
			<string>K</string>
			<string>Kcommaaccent</string>
			<string>L</string>
			<string>Lacute</string>
			<string>Lcaron</string>
			<string>Lcommaaccent</string>
			<string>Lslash</string>
			<string>M</string>
			<string>N</string>
			<string>Nacute</string>
			<string>Ncaron</string>
			<string>Ncommaaccent</string>
			<string>Ntilde</string>
			<string>Eng</string>
			<string>O</string>
			<string>Oacute</string>
			<string>Ocircumflex</string>
			<string>Odieresis</string>
			<string>Ograve</string>
			<string>Ohungarumlaut</string>
			<string>Omacron</string>
			<string>Oslash</string>
			<string>Otilde</string>
			<string>OE</string>
			<string>P</string>
			<string>Thorn</string>
			<string>Q</string>
			<string>R</string>
			<string>Racute</string>
			<string>Rcaron</string>
			<string>Rcommaaccent</string>
			<string>S</string>
			<string>Sacute</string>
			<string>Scaron</string>
			<string>Scedilla</string>
			<string>Scommaaccent</string>
			<string>Germandbls</string>
			<string>T</string>
			<string>Tcaron</string>
			<string>Tcommaaccent</string>
			<string>U</string>
			<string>Uacute</string>
			<string>Ubreve</string>
			<string>Ucircumflex</string>
			<string>Udieresis</string>
			<string>Ugrave</string>
			<string>Uhungarumlaut</string>
			<string>Umacron</string>
			<string>Uogonek</string>
			<string>Uring</string>
			<string>V</string>
			<string>W</string>
			<string>Wacute</string>
			<string>Wcircumflex</string>
			<string>Wdieresis</string>
			<string>Wgrave</string>
			<string>X</string>
			<string>Y</string>
			<string>Yacute</string>
			<string>Ycircumflex</string>
			<string>Ydieresis</string>
			<string>Ygrave</string>
			<string>Z</string>
			<string>Zacute</string>
			<string>Zcaron</string>
			<string>Zdotaccent</string>
			<string>a</string>
			<string>aacute</string>
			<string>abreve</string>
			<string>acircumflex</string>
			<string>adieresis</string>
			<string>agrave</string>
			<string>amacron</string>
			<string>aogonek</string>
			<string>aring</string>
			<string>atilde</string>
			<string>ae</string>
			<string>b</string>
			<string>c</string>
			<string>cacute</string>
			<string>ccaron</string>
			<string>ccedilla</string>
			<string>cdotaccent</string>
			<string>d</string>
			<string>eth</string>
			<string>dcaron</string>
			<string>dcroat</string>
			<string>e</string>
			<string>eacute</string>
			<string>ecaron</string>
			<string>ecircumflex</string>
			<string>edieresis</string>
			<string>edotaccent</string>
			<string>egrave</string>
			<string>emacron</string>
			<string>eogonek</string>
			<string>f</string>
			<string>g</string>
			<string>gbreve</string>
			<string>gcommaaccent</string>
			<string>gdotaccent</string>
			<string>h</string>
			<string>hbar</string>
			<string>i</string>
			<string>idotless</string>
			<string>iacute</string>
			<string>icircumflex</string>
			<string>idieresis</string>
			<string>idotaccent</string>
			<string>igrave</string>
			<string>ij</string>
			<string>imacron</string>
			<string>iogonek</string>
			<string>j</string>
			<string>jdotless</string>
			<string>k</string>
			<string>kcommaaccent</string>
			<string>l</string>
			<string>lacute</string>
			<string>lcaron</string>
			<string>lcommaaccent</string>
			<string>lslash</string>
			<string>m</string>
			<string>n</string>
			<string>nacute</string>
			<string>ncaron</string>
			<string>ncommaaccent</string>
			<string>ntilde</string>
			<string>eng</string>
			<string>o</string>
			<string>oacute</string>
			<string>ocircumflex</string>
			<string>odieresis</string>
			<string>ograve</string>
			<string>ohungarumlaut</string>
			<string>omacron</string>
			<string>oslash</string>
			<string>otilde</string>
			<string>oe</string>
			<string>p</string>
			<string>thorn</string>
			<string>q</string>
			<string>r</string>
			<string>racute</string>
			<string>rcaron</string>
			<string>rcommaaccent</string>
			<string>s</string>
			<string>sacute</string>
			<string>scaron</string>
			<string>scedilla</string>
			<string>scommaaccent</string>
			<string>germandbls</string>
			<string>t</string>
			<string>tcaron</string>
			<string>tcommaaccent</string>
			<string>u</string>
			<string>uacute</string>
			<string>ubreve</string>
			<string>ucircumflex</string>
			<string>udieresis</string>
			<string>ugrave</string>
			<string>uhungarumlaut</string>
			<string>umacron</string>
			<string>uogonek</string>
			<string>uring</string>
			<string>v</string>
			<string>w</string>
			<string>wacute</string>
			<string>wcircumflex</string>
			<string>wdieresis</string>
			<string>wgrave</string>
			<string>x</string>
			<string>y</string>
			<string>yacute</string>
			<string>ycircumflex</string>
			<string>ydieresis</string>
			<string>ygrave</string>
			<string>z</string>
			<string>zacute</string>
			<string>zcaron</string>
			<string>zdotaccent</string>
			<string>ordfeminine</string>
			<string>ordmasculine</string>
			<string>.notdef</string>
			<string>comma</string>
			<string>semicolon</string>
			<string>exclamdown</string>
			<string>question</string>
			<string>questiondown</string>
			<string>periodcentered</string>
			<string>bullet</string>
			<string>periodcentered.loclCAT</string>
			<string>periodcentered.loclCAT.case</string>
			<string>endash</string>
			<string>emdash</string>
			<string>underscore</string>
			<string>quotesinglbase</string>
			<string>quotedblbase</string>
			<string>guilsinglleft</string>
			<string>guilsinglright</string>
			<string>at</string>
			<string>ampersand</string>
			<string>paragraph</string>
			<string>section</string>
			<string>copyright</string>
			<string>registered</string>
			<string>trademark</string>
			<string>cent</string>
			<string>dollar</string>
			<string>euro</string>
			<string>sterling</string>
			<string>yen</string>
			<string>minus</string>
			<string>asciitilde</string>
			<string>asciicircum</string>
			<string>dotaccentcomb</string>
			<string>caroncomb.alt</string>
			<string>circumflexcomb</string>
			<string>caroncomb</string>
			<string>brevecomb</string>
			<string>ringcomb</string>
			<string>tildecomb</string>
			<string>commaturnedabovecomb</string>
			<string>commaaccentcomb</string>
			<string>cedillacomb</string>
			<string>ogonekcomb</string>
			<string>dieresis</string>
			<string>grave</string>
			<string>acute</string>
			<string>hungarumlaut</string>
			<string>circumflex</string>
			<string>caron</string>
			<string>breve</string>
			<string>ring</string>
			<string>tilde</string>
			<string>macron</string>
			<string>cedilla</string>
			<string>ogonek</string>
		</array>
		<key>name</key>
		<string>GF_Latin_Core</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>A-cy</string>
			<string>Be-cy</string>
			<string>Ve-cy</string>
			<string>Ge-cy</string>
			<string>Gje-cy</string>
			<string>Geupturn-cy</string>
			<string>De-cy</string>
			<string>Ie-cy</string>
			<string>Iegrave-cy</string>
			<string>Io-cy</string>
			<string>Zhe-cy</string>
			<string>Ze-cy</string>
			<string>Ii-cy</string>
			<string>Iishort-cy</string>
			<string>Iigrave-cy</string>
			<string>Ka-cy</string>
			<string>Kje-cy</string>
			<string>El-cy</string>
			<string>Em-cy</string>
			<string>En-cy</string>
			<string>O-cy</string>
			<string>Pe-cy</string>
			<string>Er-cy</string>
			<string>Es-cy</string>
			<string>Te-cy</string>
			<string>U-cy</string>
			<string>Ushort-cy</string>
			<string>Ef-cy</string>
			<string>Ha-cy</string>
			<string>Che-cy</string>
			<string>Tse-cy</string>
			<string>Sha-cy</string>
			<string>Shcha-cy</string>
			<string>Dzhe-cy</string>
			<string>Softsign-cy</string>
			<string>Yeru-cy</string>
			<string>Hardsign-cy</string>
			<string>Lje-cy</string>
			<string>Nje-cy</string>
			<string>Dze-cy</string>
			<string>E-cy</string>
			<string>Ereversed-cy</string>
			<string>I-cy</string>
			<string>Yi-cy</string>
			<string>Je-cy</string>
			<string>Tshe-cy</string>
			<string>Yu-cy</string>
			<string>Ya-cy</string>
			<string>Dje-cy</string>
			<string>a-cy</string>
			<string>be-cy</string>
			<string>ve-cy</string>
			<string>ge-cy</string>
			<string>gje-cy</string>
			<string>geupturn-cy</string>
			<string>de-cy</string>
			<string>ie-cy</string>
			<string>iegrave-cy</string>
			<string>io-cy</string>
			<string>zhe-cy</string>
			<string>ze-cy</string>
			<string>ii-cy</string>
			<string>iishort-cy</string>
			<string>iigrave-cy</string>
			<string>ka-cy</string>
			<string>kje-cy</string>
			<string>el-cy</string>
			<string>em-cy</string>
			<string>en-cy</string>
			<string>o-cy</string>
			<string>pe-cy</string>
			<string>er-cy</string>
			<string>es-cy</string>
			<string>te-cy</string>
			<string>u-cy</string>
			<string>ushort-cy</string>
			<string>ef-cy</string>
			<string>ha-cy</string>
			<string>che-cy</string>
			<string>tse-cy</string>
			<string>sha-cy</string>
			<string>shcha-cy</string>
			<string>dzhe-cy</string>
			<string>softsign-cy</string>
			<string>yeru-cy</string>
			<string>hardsign-cy</string>
			<string>lje-cy</string>
			<string>nje-cy</string>
			<string>dze-cy</string>
			<string>e-cy</string>
			<string>ereversed-cy</string>
			<string>i-cy</string>
			<string>yi-cy</string>
			<string>je-cy</string>
			<string>tshe-cy</string>
			<string>yu-cy</string>
			<string>ya-cy</string>
			<string>dje-cy</string>
			<string>numero</string>
		</array>
		<key>name</key>
		<string>GF_Cyrillic_Core</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>OmegaBroad-cy</string>
			<string>Omega-cy</string>
			<string>Eiotified-cy</string>
			<string>Yuslittle-cy</string>
			<string>Yuslittleiotified-cy</string>
			<string>Yusbigiotified-cy</string>
			<string>Ksi-cy</string>
			<string>Psi-cy</string>
			<string>Izhitsadblgrave-cy</string>
			<string>Uk-cy</string>
			<string>Koppa-cy</string>
			<string>omega-cy</string>
			<string>eiotified-cy</string>
			<string>yuslittle-cy</string>
			<string>yuslittleiotified-cy</string>
			<string>yusbigiotified-cy</string>
			<string>ksi-cy</string>
			<string>psi-cy</string>
			<string>izhitsadblgrave-cy</string>
			<string>uk-cy</string>
			<string>koppa-cy</string>
			<string>omegaBroad-cy</string>
			<string>thousand-cy</string>
			<string>hundredthousandssigncomb-cy</string>
			<string>millionssigncomb-cy</string>
			<string>titlocomb-cy</string>
			<string>palatalizationcomb-cy</string>
			<string>dasiapneumatacomb-cy</string>
			<string>psilipneumatacomb-cy</string>
			<string>pokrytiecomb-cy</string>
			<string>uni047A</string>
			<string>uni047B</string>
			<string>uni047C</string>
			<string>uni047D</string>
			<string>uni047E</string>
			<string>uni047F</string>
		</array>
		<key>name</key>
		<string>GF_Cyrillic_Historical</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>Gedescender-cy</string>
			<string>Gestroke-cy</string>
			<string>Gemiddlehook-cy</string>
			<string>Yat-cy</string>
			<string>Yusbig-cy</string>
			<string>Fita-cy</string>
			<string>Izhitsa-cy</string>
			<string>Zhedescender-cy</string>
			<string>Zedescender-cy</string>
			<string>Kadescender-cy</string>
			<string>Kaverticalstroke-cy</string>
			<string>Kabashkir-cy</string>
			<string>Endescender-cy</string>
			<string>EnGe-cy</string>
			<string>Esdescender-cy</string>
			<string>Ustraight-cy</string>
			<string>Ustraightstroke-cy</string>
			<string>Hadescender-cy</string>
			<string>Chedescender-cy</string>
			<string>Cheverticalstroke-cy</string>
			<string>Shha-cy</string>
			<string>Palochka-cy</string>
			<string>Zhebreve-cy</string>
			<string>Chekhakassian-cy</string>
			<string>Abreve-cy</string>
			<string>Adieresis-cy</string>
			<string>Aie-cy</string>
			<string>Iebreve-cy</string>
			<string>Schwa-cy</string>
			<string>Zhedieresis-cy</string>
			<string>Zedieresis-cy</string>
			<string>Imacron-cy</string>
			<string>Idieresis-cy</string>
			<string>Odieresis-cy</string>
			<string>Obarred-cy</string>
			<string>Umacron-cy</string>
			<string>Udieresis-cy</string>
			<string>Uhungarumlaut-cy</string>
			<string>Chedieresis-cy</string>
			<string>Yerudieresis-cy</string>
			<string>Qa-cy</string>
			<string>We-cy</string>
			<string>gedescender-cy</string>
			<string>gestroke-cy</string>
			<string>gemiddlehook-cy</string>
			<string>yat-cy</string>
			<string>yusbig-cy</string>
			<string>fita-cy</string>
			<string>izhitsa-cy</string>
			<string>zhedescender-cy</string>
			<string>zedescender-cy</string>
			<string>kadescender-cy</string>
			<string>kaverticalstroke-cy</string>
			<string>kabashkir-cy</string>
			<string>endescender-cy</string>
			<string>enge-cy</string>
			<string>esdescender-cy</string>
			<string>ustraight-cy</string>
			<string>ustraightstroke-cy</string>
			<string>hadescender-cy</string>
			<string>chedescender-cy</string>
			<string>cheverticalstroke-cy</string>
			<string>shha-cy</string>
			<string>palochka-cy</string>
			<string>zhebreve-cy</string>
			<string>chekhakassian-cy</string>
			<string>abreve-cy</string>
			<string>adieresis-cy</string>
			<string>aie-cy</string>
			<string>iebreve-cy</string>
			<string>schwa-cy</string>
			<string>zhedieresis-cy</string>
			<string>zedieresis-cy</string>
			<string>imacron-cy</string>
			<string>idieresis-cy</string>
			<string>odieresis-cy</string>
			<string>obarred-cy</string>
			<string>umacron-cy</string>
			<string>udieresis-cy</string>
			<string>uhungarumlaut-cy</string>
			<string>chedieresis-cy</string>
			<string>yerudieresis-cy</string>
			<string>qa-cy</string>
			<string>we-cy</string>
			<string>hryvnia</string>
			<string>tenge</string>
			<string>tugrik</string>
			<string>brevecomb-cy</string>
			<string>dieresiscomb</string>
			<string>gravecomb</string>
			<string>acutecomb</string>
			<string>hungarumlautcomb</string>
			<string>macroncomb</string>
			<string>apostrophemod</string>
		</array>
		<key>name</key>
		<string>GF_Cyrillic_Plus</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>De-cy.loclBGR</string>
			<string>Ii-cy.loclBGR</string>
			<string>Iishort-cy.loclBGR</string>
			<string>Iigrave-cy.loclBGR</string>
			<string>El-cy.loclBGR</string>
			<string>Ef-cy.loclBGR</string>
			<string>Gestroke-cy.loclBSH</string>
			<string>Zedescender-cy.loclBSH</string>
			<string>Esdescender-cy.loclBSH</string>
			<string>Esdescender-cy.loclCHU</string>
			<string>ve-cy.loclBGR</string>
			<string>ge-cy.loclBGR</string>
			<string>de-cy.loclBGR</string>
			<string>zhe-cy.loclBGR</string>
			<string>ze-cy.loclBGR</string>
			<string>ka-cy.loclBGR</string>
			<string>el-cy.loclBGR</string>
			<string>en-cy.loclBGR</string>
			<string>yu-cy.loclBGR</string>
			<string>gestroke-cy.loclBSH</string>
			<string>zedescender-cy.loclBSH</string>
			<string>esdescender-cy.loclBSH</string>
			<string>esdescender-cy.loclCHU</string>
			<string>gje-cy.loclMKD</string>
			<string>be-cy.loclSRB</string>
			<string>ge-cy.loclSRB</string>
			<string>de-cy.loclSRB</string>
			<string>pe-cy.loclSRB</string>
			<string>te-cy.loclSRB</string>
		</array>
		<key>name</key>
		<string>GF_Cyrillic_PlusLoclItalic</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>De-cy.loclBGR</string>
			<string>Ii-cy.loclBGR</string>
			<string>Iishort-cy.loclBGR</string>
			<string>Iigrave-cy.loclBGR</string>
			<string>El-cy.loclBGR</string>
			<string>Ef-cy.loclBGR</string>
			<string>Gestroke-cy.loclBSH</string>
			<string>Zedescender-cy.loclBSH</string>
			<string>Esdescender-cy.loclBSH</string>
			<string>Esdescender-cy.loclCHU</string>
			<string>ve-cy.loclBGR</string>
			<string>ge-cy.loclBGR</string>
			<string>de-cy.loclBGR</string>
			<string>zhe-cy.loclBGR</string>
			<string>ze-cy.loclBGR</string>
			<string>ka-cy.loclBGR</string>
			<string>el-cy.loclBGR</string>
			<string>en-cy.loclBGR</string>
			<string>yu-cy.loclBGR</string>
			<string>gestroke-cy.loclBSH</string>
			<string>zedescender-cy.loclBSH</string>
			<string>esdescender-cy.loclBSH</string>
			<string>esdescender-cy.loclCHU</string>
			<string>be-cy.loclSRB</string>
			<string>ii-cy.loclBGR</string>
			<string>iishort-cy.loclBGR</string>
			<string>iigrave-cy.loclBGR</string>
			<string>pe-cy.loclBGR</string>
			<string>te-cy.loclBGR</string>
			<string>che-cy.loclBGR</string>
			<string>tse-cy.loclBGR</string>
			<string>sha-cy.loclBGR</string>
			<string>shcha-cy.loclBGR</string>
			<string>softsign-cy.loclBGR</string>
			<string>hardsign-cy.loclBGR</string>
		</array>
		<key>name</key>
		<string>GF_Cyrillic_PlusLoclRoman</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>Gemiddlehook-cy</string>
			<string>gemiddlehook-cy</string>
			<string>Iishorttail-cy</string>
			<string>Kastroke-cy</string>
			<string>Pedescender-cy</string>
			<string>Haabkhasian-cy</string>
			<string>Tedescender-cy</string>
			<string>Tetse-cy</string>
			<string>Shhadescender-cy</string>
			<string>Cheabkhasian-cy</string>
			<string>Chedescenderabkhasian-cy</string>
			<string>Kahook-cy</string>
			<string>Eltail-cy</string>
			<string>Enhook-cy</string>
			<string>Entail-cy</string>
			<string>Emtail-cy</string>
			<string>Schwadieresis-cy</string>
			<string>Dzeabkhasian-cy</string>
			<string>Obarreddieresis-cy</string>
			<string>Edieresis-cy</string>
			<string>Gestrokehook-cy</string>
			<string>Hahook-cy</string>
			<string>Hastroke-cy</string>
			<string>Reversedze-cy</string>
			<string>Elhook-cy</string>
			<string>Semisoftsign-cy</string>
			<string>Ertick-cy</string>
			<string>EnLeftHook-cy</string>
			<string>Eldescender-cy</string>
			<string>iishorttail-cy</string>
			<string>kastroke-cy</string>
			<string>pedescender-cy</string>
			<string>haabkhasian-cy</string>
			<string>tedescender-cy</string>
			<string>tetse-cy</string>
			<string>shhadescender-cy</string>
			<string>cheabkhasian-cy</string>
			<string>chedescenderabkhasian-cy</string>
			<string>kahook-cy</string>
			<string>eltail-cy</string>
			<string>enhook-cy</string>
			<string>entail-cy</string>
			<string>emtail-cy</string>
			<string>schwadieresis-cy</string>
			<string>dzeabkhasian-cy</string>
			<string>obarreddieresis-cy</string>
			<string>edieresis-cy</string>
			<string>gestrokehook-cy</string>
			<string>hahook-cy</string>
			<string>hastroke-cy</string>
			<string>reversedze-cy</string>
			<string>elhook-cy</string>
			<string>semisoftsign-cy</string>
			<string>ertick-cy</string>
			<string>enlefthook-cy</string>
			<string>eldescender-cy</string>
		</array>
		<key>name</key>
		<string>GF_Cyrillic_Pro</string>
	</dict>
</array>
</plist>
